<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--配置关闭缓存-->
        <!--一级缓存-->
        <setting name="localCacheScope" value="SESSION"/>
        <!-- 全局映射器启用缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 查询时,关闭关联对象及时加载以提高性能 -->
        <setting name="lazyLoadingEnabled" value="false" />
        <!-- 设置关联对象加载的形态,此处为按需加载字段(加载字段由SQL指定),不会加载关联表的所有字段,以提高性能 -->
        <setting name="aggressiveLazyLoading" value="false" />
        <!-- 对于位置的SQL查询,允许返回不同的结果集以达到通用的效果 -->
        <setting name="multipleResultSetsEnabled" value="true" />
        <!-- 允许使用列标签代替列明 -->
        <setting name="useColumnLabel" value="true" />
        <!-- 给予被嵌套的resultMap以字段-属性的映射支持 -->
        <setting name="autoMappingBehavior" value="PARTIAL" />
        <!-- 开启驼峰命名转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <!-- 允许使用自定义的主键值(比如由程序生成的UUID 32位编码作为键值), 数据表的pk生成策略将被覆盖 -->
        <setting name="useGeneratedKeys" value="false" />
        <!-- 对于批量更新操作缓存SQL以提高性能 -->
        <setting name="defaultExecutorType" value="REUSE"/>
        <!--事务超时时间-->
        <setting name="defaultStatementTimeout" value="3" />
        <!--自动映射未知列行为-->
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
        <!--默认提取大小-->
        <setting name="defaultFetchSize" value="100"/>
        <!--允许在嵌套语句中使用分页-->
        <setting name="safeRowBoundsEnabled" value="false"/>
        <!--空的JDBC类型-->
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <!--延迟加载触发器方法-->
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
        <!-- 打印查询语句 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
        <!-- 指定 MyBatis 增加到日志名称的前缀 -->
        <setting name="logPrefix" value="sql-"/>
        <!-- 指定 MyBatis 所用日志的具体实现，未指定时将自动查找 -->
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <!--别名-->
    <typeAliases>
        <typeAlias type="java.lang.Integer" alias="int" />
        <typeAlias type="java.lang.String" alias="string" />
        <typeAlias type="java.lang.Long" alias="long" />
        <typeAlias type="java.lang.Byte" alias="byte" />
        <typeAlias type="java.lang.Double" alias="double" />
        <typeAlias type="java.lang.Float" alias="float" />
        <typeAlias type="java.lang.Number" alias="number" />
        <typeAlias type="com.example.rainboot.trunk.user.model.vo.UserUserVO" alias="userUserVO" />
        <typeAlias type="com.example.rainboot.trunk.user.model.UserUser" alias="userUser" />
    </typeAliases>
</configuration>